*.psd filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mpeg filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text

Portfolio[[:space:]]AddOns/Thesis[[:space:]]Photos/hero-velocity.mpeg filter=lfs diff=lfs merge=lfs -text
/media/hero-velocity.mpeg filter=lfs diff=lfs merge=lfs -text
*.webp !text !filter !merge !diff
